<div class="p-non-exfoliate-outer-padding">
{{#each block.data.details.data as |item|}}

{{#if item.ip_str}}
    <div>
        {{fa-icon "info-circle"}} <span class="p-key">IP: </span>
        {{item.ip_str}}  <a href="https://www.shodan.io/host/{{item.ip_str}}">  (View in Shodan) </a>
    </div>
{{/if}}

{{#if item.product}}
    <div>
        <span class="p-key">Product: </span>
        <span class="p-value">{{item.product}}</span>
    </div>
{{/if}}

{{#if item.isp}}
    <div>
        <span class="p-key">ISP: </span>
        <span class="p-value">{{item.isp}}</span>
    </div>
{{/if}}

{{#if item.org}}
    <div>
        <span class="p-key">Org: </span>
        <span class="p-value">{{item.org}}</span>
    </div>
{{/if}}

{{#if item.devicetype}}
    <div>
        <span class="p-key">Device Type: </span>
        <span class="p-value">{{item.devicetype}}</span>
    </div>
{{/if}}

{{#if item.hash}}
    <div>
        <span class="p-key">Hash: </span>
        <span class="p-value">{{item.hash}}</span>
    </div>
{{/if}}

{{#if item.version}}
    <div>
        <span class="p-key">Version: </span>
        <span class="p-value">{{item.version}}</span>
    </div>
{{/if}}

{{#if item.os}}
    <div>
        <span class="p-key">OS: </span>
        <span class="p-value">{{item.os}}</span>
    </div>
{{/if}}

{{#if item.ssh.fingerprint}}
    <div>
        <span class="p-key">SSH Fingerprint: </span>
        <span class="p-value">{{item.ssh.fingerprint}}</span>
    </div>
{{/if}}

{{#if item.ssh.mac}}
    <div>
        <span class="p-key">SSH MAC: </span>
        <span class="p-value">{{item.ssh.mac}}</span>
    </div>
{{/if}}

{{#if item.ssh.cipher}}
    <div>
        <span class="p-key">SSH Cipher: </span>
        <span class="p-value">{{item.ssh.cipher}}</span>
    </div>
{{/if}}

{{#if item.http.robots}}
    <div>
        <span class="p-key">HTTP Robots: </span>
        <span class="p-value">{{item.http.robots}}</span>
    </div>
{{/if}}

{{#if item.http.servers}}
    <div>
        <span class="p-key">HTTP Servers: </span>
        <span class="p-value">{{item.http.servers}}</span>
    </div>
{{/if}}


{{#if item.hostnames}}
    <div class = "tags">
      <h1 class="p-key">
              {{fa-icon "globe"}} Hostnames
      </h1>
                {{#each item.hostnames as |data|}}
                        <span class="section-tag">{{data}}</span>
                {{/each}}
    </div>
{{/if}}

{{#if item.domains}}
    <div class = "tags">
      <h1 class="p-key">
              {{fa-icon "globe"}} Domains
      </h1>
                {{#each item.domains as |data|}}
                        <span class="section-tag">{{data}}</span>
                {{/each}}
    </div>
{{/if}}

{{#if item.http.redirects}}
    <div class = "tags">
      <h1 class="p-key">
              {{fa-icon "globe"}} HTTP Redirects
      </h1>
                {{#each item.http.redirects as |data|}}
                        <span class="section-tag">{{data}}</span>
                {{/each}}
    </div>
{{/if}}

{{/each}}
</div>


{{#if block.data.details.asn}}
    <div>
        <span class="p-key">ASN: </span>
        <span class="p-value">{{block.data.details.asn}}</span>
    </div>
{{/if}}


{{#if block.data.details.ports}}
    <div class = "tags">
      <h1 class="p-key">
              {{fa-icon "globe"}} Ports
      </h1>
                {{#each block.data.details.ports as |data|}}
                        <span class="section-tag">{{data}}</span>
                {{/each}}
    </div>
{{/if}}
